@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


/*
colors
#0d659d
#7b2cbf
*/
.form-input-midas{
    @apply form-input w-full p-2 border shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md
}

.form-textarea-midas{
    @apply form-textarea w-full p-2 border shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md
}

.fi-body {
    @apply bg-white dark:bg-transparent !important;
}

.fi-sidebar-header {
    @apply bg-primary-900 dark:bg-transparent text-white !important;
}

.fi-logo {
    @apply text-primary-100 whitespace-nowrap text-sm text-ellipsis;
}

.fi-sidebar-item-icon {
    @apply !text-primary-50;
}

.fi-sidebar-item-icon:active {
    @apply text-yellow-400 !important;
}

.fi-sidebar {
    @apply bg-gradient-to-br from-black via-primary-500 to-blue-500 dark:bg-transparent !important;
}

.fi-sidebar-group div span {
    @apply text-primary-50;
}

.fi-sidebar-item-icon {
    @apply text-primary-900;
}

.fi-sidebar-item a {
    @apply text-primary-100;
}

.fi-sidebar-item-label {
    @apply text-primary-100;
}

.fi-sidebar-item a:hover {
    @apply text-primary-50 bg-primary-700;
}

.fi-sidebar-item-active a {
    @apply text-white bg-primary-800;
}

.fi-sidebar-item-active .fi-sidebar-item-icon {
    @apply text-primary-400;
}

.fi-main-ctn {
    @apply bg-primary-100 dark:bg-transparent;
}

.fi-fieldset
{
    @apply bg-slate-100;
}
